<h1><%= @article.title %></h1>
<p1><%= @article.content%></p1>

<form method="post" action="/articles/<%= @article.id %>">
<input type="hidden" value="delete" name="_method" />
<input type="submit" value="Delete" />
</form>